.new-body {
  z-index: 100!important;
}

.new-body .wrap .select-item {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

.new-body .vux-no-group-title {
  margin: 0!important;
  /* padding: 0 15px; */
  width: 100%;
  border: none;
}

.new-body .select-item.later {
  display: flex;
  line-height: 50px;
  align-items: center;
  justify-content: space-between;
}

.new-body .vux-picker {
  border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

.new-body .vux-x-switch {
  padding: 0 15px!important;
}

.scroller-mask {
  background-image: none!important;
}

.scroller-indicator {
  border-top: 1px solid rgba(102, 102, 102, 0.3);
  border-bottom: 1px solid rgba(102, 102, 102, 0.3);
  color: #fff;
  font-size: 16px;
}

.scroller-item {
  color: #ddd!important;
}

.vux-popup-picker-header, .vux-popup-picker-container {
  background-image: none!important;
  background-color: #000!important;
  color: #f47920!important;
  z-index: 200!important;
}